@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
body {
  background-color: black;
  font-family: 'Roboto', sans-serif;
  padding: 1rem;
}

.cardMain {
  margin-top: 1vh;
  margin-left: 3vw;
  display: flex;
  align-items: center;
  box-shadow: 10px 5px 5px #ab20fd;
  overflow: hidden;
  height: 95vh;
  width: 90vw;
  box-sizing: border-box;
  border-radius: 30px;
}

.imgSide{
  background-image: url(https://images.hdqwalls.com/download/walking-in-street-synthwave-4k-1920x1080.jpg);
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 30%;
}

.formSide{
  padding: 5rem;
  width: 70%;
  font-size: 8rem;
  color: white;
}

.container_form{
  padding: 2rem 2rem;
  box-shadow: 10px 5px 5px #ab20fd;
  height: 50%;
  justify-content: space-around;
  margin-bottom: 3rem;
}

fieldset{
  gap: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: space-between;
}

.field {
  gap: 3rem;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  width: 45%;
}

label {
  font-size: 5rem;
  color: #ab20fd;
  font-weight: 800;
}

input {
  border-color: #ab20fd;
  border-radius: 4px;
  padding: 3rem;
  width: 1300px;
  background-color: black;
  color: white;
  font-size: 5rem;
}

button{
  background-color: #ab20fd;
  font-size:5rem;
  padding: 2rem;
  margin: 1%;
  color: white;
  border-radius: 30px;
}

#linkP{
  font-size: 4rem;
  padding-left: 3rem;
}

.logoZone{
  margin-top: 25rem;
  text-align: center;
  font-size: 6em;
  background-color: rgba(0,0,0,0.8);
  font-weight: 900;
  color: #ab20fd;
  display: flex;
  justify-content: center;
  font-family: 'Russo One', sans-serif;
  gap: 10rem;
}

#logo{
width: 300px;
}
input:focus{
  border-color: #ab20fd;
  box-shadow: 20px 20px 20px #ab20fd;
}
input:invalid {
  border-color: red;
}
